{% assign unique_tags = "" %}
{% assign tag_counts = "" %}
{% for project in site.projects %}
  {% for tag in project.tags %}
    {% assign unique_tags = unique_tags | append: tag | append: "," %}
    {% capture tag_key %}{{ tag }}{% endcapture %}
    {% if tag_counts contains tag_key %}
      {% assign count = tag_counts | split: "," %}
      {% for item in count %}
        {% assign tag_count = item | split: ":" %}
        {% if tag_count[0] == tag %}
          {% assign tag_count_value = tag_count[1] | plus: 1 %}
          {% capture updated_tag %}{{ tag }}:{{ tag_count_value }}{% endcapture %}
          {% assign tag_counts = tag_counts | replace: item, updated_tag %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% capture new_tag %}{{ tag }}:1{% endcapture %}
      {% assign tag_counts = tag_counts | append: new_tag | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign unique_tags = unique_tags | split: "," | uniq %}
{% assign tag_counts = tag_counts | split: "," %}
